header{
    width: 100%;
    background-color: rgb(208, 224, 219);
}
header ul{
    display: flex;
    gap: 100px;
}
header ul li{
    list-style: none;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
header .active{
    text-decoration: none;
    font-size: 25px;
    color: rgb(92, 62, 62);
}
